/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

#header-wrapper{
	width:100%;
	margin-left: 10px;
	background-color: #337ab7;
	color: #ffffff;  
}
.navbtn{
	background-color: pink !important;
	margin-top: 20px;
}
.navbtn{
	background-color: pink !important;
	margin-top: 20px;
}
.logo{
	padding:10px;
	margin-right:10px;
	font-size:35px;
	font-family:fantasy;
}
.itemlogo{
	width: 151px;
	height: 154px;
}
.tagline{
	font-size:10px;
	margin-top:50px;
	margin-left:-139px;
	font-family:monospace;
}
.nav-wrapper{
	margin-left:100px;
	margin-top:15px;
}
.viewcontainer{
	margin-top: -60px;
}

.bookwrapper{
	width: 100%;
	padding-top: 80px;
	
}

.bookwrapper input{
	width: 25%;
	margin-left: 10px;
}

.bookwrapper .book{
	border: 1px solid gray;
	padding: 10px;
	margin:10px;
	border-radius: 10px;
	/* background: whitesmoke url(../imgs/Photo_Scan.JPG); */
}
.bookwrapper .book .book-details{
	margin-left:160px;
}
.emptykart{
	margin-left: 25px;
}

/* .list-unstyled{
	margin: 10px;
}

.book{
	background: whitesmoke url(imgs/Photo_Scan.JPG);
	border: 2px grey solid;
	margin: 3px;
} */

.viewcontainer.ng-enter{
	-webkit-transition:0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition:0.5s linear all;
	transition: 0.5s linear all;
	opacity: 0;
}
.viewcontainer.ng-enter-active{
	opacity:1;
}
.book.ng-leave{
	-webkit-transition:0.5s linear all;
	-moz-transition: 0.5s linear all;
	-o-transition:0.5s linear all;
	transition: 0.5s linear all;
	opacity: 1;
	left:0;
}
.book.ng-leave-active{
	opacity:0;
	left:600px;
}
.book.ng-enter-active{
	opacity:0;
	left:0px;
}

.paymentwrapper input, .paymentwrapper textarea, .paymentwrapper select{
	width: 100% !important;
	margin: 0px 10px 10px 10px;
}
.paymentwrapper .panel{
	margin-left: 12px;
	margin-right: 12px;
}

.cc-img {
	margin: 0 auto;
}