<div id="kartList-wrapper" class="bookwrapper paymentwrapper">
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Order Summary</div>
						<div class="panel-body" style="padding-left: 0px">
							<div class="row" >
								<div class="col-md-3 col-sm-3 col-xs-3" ng-repeat="book in purchaseList">
									<img src="{{book.imgURL}}" class="itemlogo"/>
									<div>
										<span><b>{{book.name}}</b></span>
										<span><p>{{book.rating}}</p></span>
										<span><p>{{book.publisher}}</p></span>
										<span><p>{{book.price | currency:'Rs.'}}</p></span>
									</div>
								</div>
							</div>							
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Name"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" maxlength="10" placeholder="10-digit mobile number"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" maxlength="6" placeholder="Pincode"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Locality"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<textarea rows="4" class="form-control" cols="50" placeholder="Address(Area and Street)">
									</textarea>
								</div>
							</div>
						
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="City/District/Town"/>
								</div>
								<div class="col-md-6">
									<select class="form-control">
									  <option value="">-Select State-</option>
									  <option value="AP">Andhra Pradesh</option>
									  <option value="KA">Karnataka</option>
									  <option value="KL">Kerals</option>
									  <option value="TN">TamilNadu</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Landmark (Optional)"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Alternate Phone (Optional)"/>
								</div>
							</div>
							<div class="row">
								<div class="hide">
									<div class="col-md-3">
										<label class="container">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</div>	
									<div class="col-md-1">
										<input type="radio" name="demo" value="one" id="radio-one" class="form-radio" checked><label for="radio-one">Radio</label>
									</div>
									<div class="col-md-1">
									<input type="checkbox" class="form-radio" id="check-one" checked><label for="check-one">Checkbox</label>
										
									</div>
								</div>
								<button class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">PLACE ORDER</button>
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Price Details</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p>Price</p>
							</div>
							<div class="col-md-6">
								<p>{{purchaseList[0].price | currency:'Rs.'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p>Delivery Charges</p>
							</div>
							<div class="col-md-6">
								<p>FREE</p>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-6">
								<p>Amount Payable</p>
							</div>
							<div class="col-md-6">
								<p>{{purchaseList[0].price | currency:'Rs.'}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Payment Information</h4>
					</div>
					<div class="modal-body" style="word-wrap: break-word;">
					  <div class="row">
						<div class="col-xs-12 col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<h3 class="text-center">Payment Details</h3>
										<img class="img-responsive cc-img" src="http://www.prepbootstrap.com/Content/images/shared/misc/creditcardicons.png">
									</div>
								</div>
								<div class="panel-body">
									<form role="form">
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label>CARD NUMBER</label>
													<div class="input-group">
														<input type="tel" class="form-control" placeholder="Valid Card Number" />
														<span class="input-group-addon"><span class="fa fa-credit-card"></span></span>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-7 col-md-7">
												<div class="form-group">
													<label><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
													<input type="tel" class="form-control" placeholder="MM / YY" />
												</div>
											</div>
											<div class="col-xs-5 col-md-5 pull-right">
												<div class="form-group">
													<label>CVV</label>
													<input type="tel" class="form-control" placeholder="CVV" />
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="form-group">
													<label>CARD HOLDER NAME</label>
													<input type="text" class="form-control" placeholder="Name on the Card" />
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="panel-footer">
									<div class="row">
										<div class="col-xs-12">
											<button class="btn btn-warning btn-lg btn-block">Pay Now</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					  </div> 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							data-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>