<div id="kartList-wrapper" class="bookwrapper paymentwrapper">
	<div class="form-group">
		<div class="row">
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">Order Summary</div>
						<div class="panel-body" style="padding-left: 0px">
							<div class="row" ng-repeat="book in purchaseList">
								<div class="col-md-3">
									<img src="{{book.imgURL}}" class="itemlogo"/>
								</div>
								<div class="col-md-6">
									<span><b>{{book.name}}</b></span>
									<span><p>{{book.rating}}</p></span>
									<span><p>{{book.publisher}}</p></span>
									<span><p>{{book.price | currency:'Rs.'}}</p></span>
								</div>
							</div>		

							
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Name"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" maxlength="10" placeholder="10-digit mobile number"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" maxlength="6" placeholder="Pincode"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Locality"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<textarea rows="4" class="form-control" cols="50" placeholder="Address(Area and Street)">
									</textarea>
								</div>
							</div>
						
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="City/District/Town"/>
								</div>
								<div class="col-md-6">
									<select class="form-control">
									  <option value="">-Select State-</option>
									  <option value="AP">Andhra Pradesh</option>
									  <option value="KA">Karnataka</option>
									  <option value="KL">Kerals</option>
									  <option value="TN">TamilNadu</option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Landmark (Optional)"/>
								</div>
								<div class="col-md-6">
									<input type="text" class="form-control" placeholder="Alternate Phone (Optional)"/>
								</div>
							</div>
							<div class="row">
								<div class="hide">
									<div class="col-md-3">
										<label class="container">
										  <input type="checkbox">
										  <span class="checkmark"></span>
										</label>
									</div>	
									<div class="col-md-1">
										<input type="radio" name="demo" value="one" id="radio-one" class="form-radio" checked><label for="radio-one">Radio</label>
									</div>
									<div class="col-md-1">
									<input type="checkbox" class="form-radio" id="check-one" checked><label for="check-one">Checkbox</label>
										
									</div>
								</div>
								<button class="btn btn-info pull-right" data-toggle="modal" data-target="#myModal">PLACE ORDER</button>
							</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default" style="margin-left: -21px">
					<div class="panel-heading">Price Details</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-6">
								<p>Price</p>
							</div>
							<div class="col-md-6">
								<p>{{purchaseList[0].price | currency:'Rs.'}}</p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p>Delivery Charges</p>
							</div>
							<div class="col-md-6">
								<p>FREE</p>
							</div>
						</div>
						<hr/>
						<div class="row">
							<div class="col-md-6">
								<p>Amount Payable</p>
							</div>
							<div class="col-md-6">
								<p>{{purchaseList[0].price | currency:'Rs.'}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Payment Information</h4>
					</div>
					<div class="modal-body" style="word-wrap: break-word;">
					  <div class="form-group row">
						<label class="col-sm-3 col-md-3 control-label" for="card-holder-name">Name on Card</label>
						<div class="col-sm-9 col-md-9">
						  <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-3 control-label" for="card-number">Card Number</label>
						<div class="col-sm-9 col-md-9">
						  <input type="text" class="form-control" name="card-number" id="card-number" maxlength="16" placeholder="Debit/Credit Card Number">
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-3 col-md-3 control-label" for="expiry-month">Expiration Date</label>
						<div class="col-sm-9 col-md-9">
						  <div class="row">
							<div class="col-xs-3 col-md-4">
							  <select class="form-control col-sm-2" name="expiry-month" id="expiry-month">
								<option>Month</option>
								<option value="01">Jan (01)</option>
								<option value="02">Feb (02)</option>
								<option value="03">Mar (03)</option>
								<option value="04">Apr (04)</option>
								<option value="05">May (05)</option>
								<option value="06">June (06)</option>
								<option value="07">July (07)</option>
								<option value="08">Aug (08)</option>
								<option value="09">Sep (09)</option>
								<option value="10">Oct (10)</option>
								<option value="11">Nov (11)</option>
								<option value="12">Dec (12)</option>
							  </select>
							</div>
							<div class="col-xs-3 col-md-4">
							  <select class="form-control" name="expiry-year">
								<option value="13">2019</option>
								<option value="14">2020</option>
								<option value="15">2021</option>
								<option value="16">2022</option>
								<option value="17">2023</option>
								<option value="18">2024</option>
								<option value="19">2025</option>
								<option value="20">2026</option>
								<option value="21">2027</option>
								<option value="22">2028</option>
								<option value="23">2029</option>
							  </select>
							</div>
						  </div>
						</div>
					  </div>
					  <div class="form-group row">
						<label class="col-sm-3 col-md-3 control-label" for="cvv">Card CVV</label>
						<div class="col-sm-2 col-md-2">
						  <input type="text" class="form-control" name="cvv" id="cvv" maxlength="3" placeholder="CVV">
						</div>
					  </div>
					  <div class="form-group row">
						<div class="col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9">
						  <button type="button" class="btn btn-success">Pay Now</button>
						</div>
					  </div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default"
							data-dismiss="modal">Close</button>
					</div>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>